
.form-change-password {
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.form-change-password h3 {
    text-align: center;
    margin-bottom: 30px;
}

.form-change-password label {
    font-weight: bold;
}

.form-change-password input {
    margin-bottom: 20px;
}

.form-change-password button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
}

.policy-container {

    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    width: 60%;
    max-width: 800px;
}

.policy-container h2 {
    color: #333;
    margin-bottom: 20px;
}

.policy-container p {
    margin-bottom: 20px;
}

.policy-container form {
    text-align: center;
}

.policy-container form button {
    margin: 10px;
    padding: 10px 20px;
}
/* Estilos generales para botones en la política de privacidad */
.policy-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: 0 10px;
}

/* Estilos para el botón Accept */
.policy-container button.accept {
    background-color: #4CAF50; /* Verde */
    color: white;
}

/* Estilos para el botón Decline */
.policy-container button.decline {
    background-color: #f44336; /* Rojo */
    color: white;
}

/* Estilos para hover en los botones */
.policy-container button:hover {
    opacity: 0.8;
}

/* Estilos de la barra lateral */
.sidebar-container {
    width: 200px;
    background-color: #fafbfb;
    padding-top: 60px;
    float: left;
    height: 100vh;
}

/* Estilos de la barra lateral para los enlaces */
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    color: #333;
    display: block;
    white-space: nowrap;
}

.sidebar a:hover {
    background-color: #ddd;
}

/* Estilo para el contenido principal cuando hay barra lateral */
.content-with-sidebar {
    margin-left: 200px;
}

/* Restablece el margen para el contenido cuando no hay barra lateral */
.content-no-sidebar {
    margin-left: 0;
}


.tournaments-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.tournaments-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #e7e7e7;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

.tournament-list {
    margin-bottom: 20px;
}

.tournament-item {
    padding: 20px;
    background: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 10px;
}

.edit-button,
.delete-button {
    padding: 5px 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-button {
    background-color: #ffc107;
    color: #fff;
}

.delete-button {
    background-color: #dc3545;
    color: #fff;
}

.create-tournament-button {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-footer {
    border-top: 1px solid #e9ecef;
}

.modal-title {
    color: #495057;
}

/* Agregar tus estilos personalizados aquí */
/* Puedes ajustar colores, márgenes, etc. para que coincidan con el diseño deseado */
