{% extends 'base.html' %}

{% block content %}
<div class="calendar-container">
    <h1 id="tournamentTitle" style="text-align: center;">PodiúmPro</h1>
    <div class="schedule-form">
        <h2>Programar Partido</h2>
        <form method="POST" action="{{ url_for('views.schedule_match') }}">
            <div class="controlsSuperior">
                <a>Selecciona el torneo: </a>
                <select id="tournamentSelect" name="tournamentSelect" required>
                    <option value="" disabled selected>Selecciona un torneo</option>
                </select>
            </div>

            <div class="form-group">
                <label for="categoria">Categoría</label>
                <select class="form-control" id="categoria" name="categoria" onchange="updateTeamLists()" required>
                    <option value="" disabled selected>Selecciona la categoría</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                </select>
            </div>
            
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="date">Fecha</label>
                    <input type="date" id="date" name="date" class="form-control" required>
                </div>

                <div class="form-group col-md-6">
                    <label for="match_time">Hora del partido:</label>
                    <input type="time" id="match_time" name="match_time" class="form-control" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="teamA">Equipo A</label>
                    <select id="teamA" name="teamA" class="form-control" required>
                        <option value="">Selecciona un equipo</option>
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <label for="teamB">Equipo B</label>
                    <select id="teamB" name="teamB" class="form-control" required>
                        <option value="">Selecciona un equipo</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="referee">Árbitro</label>
                <input type="text" id="referee" name="referee" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="location">Lugar</label>
                <input type="text" id="location" name="location" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary">Programar partido</button>
        </form>
    </div>
    <br>
    <div class="controlsSuperior">      
        <button id="prev" onclick="changeMonth(-1)">Anterior mes</button>
        <button id="next" onclick="changeMonth(1)">Siguiente mes</button>
    </div>
    <div id="monthYearDisplay"></div>
    <table class="calendar">
        <thead>
            <tr>
                <th>Domingo</th>
                <th>Lunes</th>
                <th>Martes</th>
                <th>Miércoles</th>
                <th>Jueves</th>
                <th>Viernes</th>
                <th>Sábado</th>
            </tr>
        </thead>
        <tbody id="calendarBody">
        </tbody>
    </table>

    <!-- Modal -->
<div class="modal" id="eventModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalles del Partido</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Aquí se insertarán los detalles del partido -->
                <div id="matchDetails"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

</div>
<style>
    .modal-dialog.modal-lg {
        max-width: 80%;
    }
    .event {
        cursor: pointer;
    }
</style>

<script>

function loadTournaments() {
    fetch('/get-user-tournaments')
        .then(response => response.json())
        .then(torneos => {
            const select = document.getElementById('tournamentSelect');
            select.innerHTML = '';
            const defaultOption = document.createElement('option');
            defaultOption.textContent = 'Selecciona un torneo';
            defaultOption.value = '';
            defaultOption.disabled = true;
            defaultOption.selected = true;
            select.appendChild(defaultOption);

            torneos.forEach(torneo => {
                const option = document.createElement('option');
                option.value = torneo.id; // Usar el ID como valor
                option.textContent = torneo.nombre;
                option.dataset.name = torneo.nombre; // Guardar el nombre del torneo en un dataset
                select.appendChild(option);
            });

            select.dispatchEvent(new Event('change'));
        })
        .catch(error => console.error('Error al cargar torneos:', error));
}

// Añadir un evento de cambio para actualizar el campo oculto con el nombre del torneo
document.getElementById('tournamentSelect').addEventListener('change', function() {
    const selectedOption = this.options[this.selectedIndex];
    const tournamentName = selectedOption.dataset.name;
    document.getElementById('tournamentName').value = tournamentName;
});



function fetchMatches() {
    fetch('/get-matches')
        .then(response => response.json())
        .then(data => {
            window.matches = data;
            generateCalendar(currentMonth, currentYear);
        })
        .catch(error => console.error('Error al cargar partidos:', error));
}


function generateCalendar(month, year) {
    const firstDay = new Date(year, month).getDay();
    const daysInMonth = new Date(year, month + 1, 0).getDate();

    const tbody = document.getElementById('calendarBody');
    const monthYearDisplay = document.getElementById('monthYearDisplay');

    monthYearDisplay.textContent = `${monthNames[month]} ${year}`;
    tbody.innerHTML = '';
    let date = 1;

    for (let i = 0; i < 6; i++) {
        const row = document.createElement('tr');
        for (let j = 0; j < 7; j++) {
            const cell = document.createElement('td');
            cell.classList.add('calendar-cell');
            if (i === 0 && j < firstDay) {
                cell.textContent = '';
            } else if (date > daysInMonth) {
                cell.textContent = '';
            } else {
                cell.textContent = date;
                cell.dataset.date = `${year}-${String(month + 1).padStart(2, '0')}-${String(date).padStart(2, '0')}`;
                cell.addEventListener('click', () => showEventDetails(cell.dataset.date));
                date++;
            }
            row.appendChild(cell);
        }
        tbody.appendChild(row);
    }
    displayMatches();
}

function displayMatches() {
    window.matches.forEach(match => {
        const matchDate = new Date(match.match_date);
        if (matchDate.getMonth() === currentMonth && matchDate.getFullYear() === currentYear) {
            const cell = document.querySelector(`td[data-date='${match.match_date}']`);
            if (cell) {
                const matchInfo = document.createElement('div');
                matchInfo.classList.add('event');
                matchInfo.textContent = match.tournament_name;
                matchInfo.addEventListener('click', (event) => {
                    event.stopPropagation();
                    showEventDetails(match.match_date);
                });
                cell.appendChild(matchInfo);

                const events = cell.querySelectorAll('.event');
                if (events.length > 2) {
                    events.forEach((event, index) => {
                        if (index >= 2) {
                            event.style.display = 'none';
                        }
                    });
                    const showMore = document.createElement('div');
                    showMore.classList.add('show-more');
                    showMore.textContent = 'Ver más';
                    showMore.onclick = (event) => {
                        event.stopPropagation();
                        events.forEach(event => event.style.display = 'block');
                        showMore.style.display = 'none';
                    };
                    cell.appendChild(showMore);
                }
            }
        }
    });
}

function showEventDetails(date) {
    const matchDetailsContainer = document.getElementById('matchDetails');
    matchDetailsContainer.innerHTML = '';

    const matches = window.matches.filter(match => match.match_date === date);
    const table = document.createElement('table');
    table.classList.add('table', 'table-bordered', 'table-striped');
    const thead = document.createElement('thead');
    thead.innerHTML = `
        <tr>
            <th>Torneo</th>
            <th>Equipo A</th>
            <th>Equipo B</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Árbitro</th>
            <th>Ubicación</th>
            <th>Categoría</th>
        </tr>
    `;
    table.appendChild(thead);
    const tbody = document.createElement('tbody');
    
    matches.forEach(match => {
        const row = document.createElement('tr');
        row.innerHTML = `
            <td>${match.tournament_name}</td>
            <td>${match.team_a_name}</td>
            <td>${match.team_b_name}</td>
            <td>${match.match_date}</td>
            <td>${match.match_time}</td>
            <td>${match.referee}</td>
            <td>${match.location}</td>
            <td>${match.categoria}</td>
        `;
        tbody.appendChild(row);
    });

    table.appendChild(tbody);
    matchDetailsContainer.appendChild(table);
    $('#eventModal').modal('show');
}


const now = new Date();
let currentMonth = now.getMonth();
let currentYear = now.getFullYear();

const monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];

function changeMonth(step) {
    currentMonth += step;
    if (currentMonth < 0) {
        currentMonth = 11;
        currentYear--;
    } else if (currentMonth > 11) {
        currentMonth = 0;
        currentYear++;
    }
    generateCalendar(currentMonth, currentYear);
}

document.addEventListener('DOMContentLoaded', function() {
    loadTournaments();
    fetchMatches();
    loadTeams();
    generateCalendar(currentMonth, currentYear);
});

function loadTeams() {
    fetch('/get-user-teams')
        .then(response => response.json())
        .then(teams => {
            const teamASelect = document.getElementById('teamA');
            const teamBSelect = document.getElementById('teamB');
            teamASelect.innerHTML = '';
            teamBSelect.innerHTML = '';

            teams.forEach(team => {
                const optionA = document.createElement('option');
                optionA.value = team.id;
                optionA.textContent = team.name;
                teamASelect.appendChild(optionA);

                const optionB = document.createElement('option');
                optionB.value = team.id;
                optionB.textContent = team.name;
                teamBSelect.appendChild(optionB);
            });
        })
        .catch(error => console.error('Error al cargar los equipos:', error));
}
 

document.addEventListener('DOMContentLoaded', function() {
    const teamASelect = document.getElementById('teamA');
    const teamBSelect = document.getElementById('teamB');

    teamASelect.addEventListener('change', function() {
        adjustTeamOptions(teamBSelect, teamASelect);
    });

    teamBSelect.addEventListener('change', function() {
        adjustTeamOptions(teamASelect, teamBSelect);
    });
});

function adjustTeamOptions(targetSelect, referenceSelect) {
    const selectedValue = referenceSelect.value;
    const options = targetSelect.querySelectorAll('option');

    options.forEach(option => {
        if (option.value === selectedValue) {
            option.disabled = true;
        } else {
            option.disabled = false;
        }
    });
}

function updateTeamLists() {
    const categoria = document.getElementById('categoria').value;
    const url = `/get-teams/${categoria}`;
    fetch(url)
        .then(response => response.json())
        .then(data => {
            const teamASelect = document.getElementById('teamA');
            const teamBSelect = document.getElementById('teamB');
            teamASelect.innerHTML = '';
            teamBSelect.innerHTML = '';

            data.forEach(team => {
                const optionA = document.createElement('option');
                optionA.value = team.id;
                optionA.textContent = team.name;
                teamASelect.appendChild(optionA);

                const optionB = document.createElement('option');
                optionB.value = team.id;
                optionB.textContent = team.name;
                teamBSelect.appendChild(optionB);
            });
        })
        .catch(error => console.error('Error al cargar los equipos:', error));
}

</script>
{% endblock %}
