{% extends "base.html" %}

{% block content %}
<div class="form-change-password">
    <!-- Título de la sección para cambiar la contraseña. -->
    <h3>Cambiar contraseña</h3>

    <!-- Formulario para cambiar la contraseña, utilizando el método POST para enviar los datos. -->
    <form method="POST">
        <!-- Campo para ingresar la contraseña actual. -->
        <div class="form-group">
            <label for="current_password">Contraseña actual</label>
            <input type="password" name="current_password" class="form-control" placeholder="Ingresa tu contraseña actual" required>
        </div>

        <!-- Campo para ingresar la nueva contraseña. -->
        <div class="form-group">
            <label for="new_password">Nueva contraseña</label>
            <input type="password" name="new_password" class="form-control" placeholder="Ingresa tu nueva contraseña" required>
        </div>

        <!-- Campo para confirmar la nueva contraseña. -->
        <div class="form-group">
            <label for="confirm_password">Confirmar nueva contraseña</label>
            <input type="password" name="confirm_password" class="form-control" placeholder="Confirma tu nueva contraseña" required>
        </div>

        <!-- Botón para enviar el formulario y actualizar la contraseña. -->
        <button type="submit" class="btn btn-primary">Actualizar Contraseña</button>
    </form>
</div>
{% endblock %}
