{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<!-- Formulario para el inicio de sesión. -->
<form method="POST">
  <!-- Título de la página de inicio de sesión. -->
  <h3 align="center">Inicia sesión</h3>

  <!-- Campo para ingresar la dirección de correo electrónico. -->
  <div class="form-group">
    <label for="email">Dirección de correo electrónico</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Ingrese el correo electrónico"
    />
  </div>

  <!-- Campo para ingresar la contraseña. -->
  <div class="form-group">
    <label for="password">Contraseña</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Introduzca la contraseña"
    />
  </div>

  <!-- Botón para enviar el formulario e iniciar sesión. -->
  <br />
  <button type="submit" class="btn btn-primary">Iniciar sesión</button>
</form>

<!-- Espacio adicional para estructurar la página. -->
<br>
<br>
<br>
<br>

<!-- Firma del desarrollador con enlaces a sus perfiles y contactos. -->
<div id="mi-firma">
  <span>Created by Albeiro Burbano :)  </span>
  <a href="mailto:aburbanot@unal.edu.co">
        <img src="../static/email-icon.png" alt="Enviar correo" style="width: 24px; height: 24px; vertical-align: middle;">
    </a>
  <a href="https://www.freelancer.com/u/Albeiro73?sb=t">
      <img src="../static/free-icon .png" alt="Ver perfil en freelancer" style="width: 24px; height: 24px; vertical-align: middle;">
  </a>
  <a href="https://github.com/AlbeiroBurbanoTobar/ppi_pl_BurbanoA">
    <img src="../static/git-icon.png" alt="Ver repositorio" style="width: 24px; height: 24px; vertical-align: middle;">
  </a>
  </a>
  <a href="https://stackoverflow.com/users/24090991/albeiro-burbano">
    <img src="../static/stack-icon.png" alt="Mira el perfil de stackoverflow" style="width: 24px; height: 24px; vertical-align: middle;">
  </a>
  <a href="http://www.linkedin.com/in/albeiro-jose-burbano-tobar-759ba4297">
    <img src="../static/link-icon.png" alt="Mira el perfil de linkedin" style="width: 24px; height: 24px; vertical-align: middle;">
  </a>
</div>

{% endblock %}
