{% extends "base.html" %}
{% block content %}
<div class="policy-container">
    <h1 _msttexthash="460889" _msthash="2">Política de privacidad</h1><p _msttexthash="1028131" _msthash="3">Última actualización: 15 de abril de 2024</p>
    <p _msttexthash="30117945" _msthash="4">Esta Política de privacidad describe nuestras políticas y procedimientos sobre la recopilación, el uso y la divulgación de su información cuando utiliza el Servicio y le informa sobre sus derechos de privacidad y cómo la ley lo protege.</p>
    <p _msttexthash="47196448" _msthash="5">Utilizamos sus datos personales para proporcionar y mejorar el Servicio. Al utilizar el Servicio, Usted acepta la recopilación y el uso de información de acuerdo con esta Política de privacidad. Esta Política de Privacidad ha sido creada con la ayuda del <a href="https://www.freeprivacypolicy.com/free-privacy-policy-generator/" target="_blank" _istranslated="1">Generador de Políticas de Privacidad Gratuito</a>.</p>
    <h2 _msttexthash="780481" _msthash="6">Interpretación y definiciones</h2>
    <h3 _msttexthash="294073" _msthash="7">Interpretación</h3>
    <p _msttexthash="32496373" _msthash="8">Las palabras cuyas letras iniciales se escriben en mayúscula tienen significados definidos bajo las siguientes condiciones. Las siguientes definiciones tendrán el mismo significado independientemente de que aparezcan en singular o en plural.</p>
    <h3 _msttexthash="203983" _msthash="9">Definiciones</h3>
    <p _msttexthash="1316172" _msthash="10">A los efectos de esta Política de Privacidad:</p>
    <ul>
    <li>
    <p _msttexthash="7188805" _msthash="11"><strong _istranslated="1">Cuenta</strong> se refiere a una cuenta única creada para que Usted acceda a nuestro Servicio o a partes de nuestro Servicio.</p>
    </li>
    <li>
    <p _msttexthash="46243067" _msthash="12"><strong _istranslated="1">Filial</strong> significa una entidad que controla, es controlada por o está bajo control común con una parte, donde "control" significa la propiedad del 50% o más de las acciones, participaciones en el capital u otros valores con derecho a voto para la elección de directores u otra autoridad administrativa.</p>
    </li>
    <li>
    <p _msttexthash="6159608" _msthash="13"><strong _istranslated="1">La Empresa</strong> (denominada "la Empresa", "Nosotros", "Nos" o "Nuestro" en este Acuerdo) se refiere a PódiumPro.</p>
    </li>
    <li>
    <p _msttexthash="25720903" _msthash="14"><strong _istranslated="1">Las cookies</strong> son pequeños archivos que un sitio web coloca en su ordenador, dispositivo móvil o cualquier otro dispositivo, que contienen los detalles de su historial de navegación en ese sitio web entre sus muchos usos.</p>
    </li>
    <li>
    <p _msttexthash="554775" _msthash="15"><strong _istranslated="1">País</strong> se refiere a: Colombia</p>
    </li>
    <li>
    <p _msttexthash="11342799" _msthash="16"><strong _istranslated="1">Dispositivo</strong> se refiere a cualquier dispositivo que pueda acceder al Servicio, como una computadora, un teléfono celular o una tableta digital.</p>
    </li>
    <li>
    <p _msttexthash="8010756" _msthash="17"><strong _istranslated="1">Los Datos Personales</strong> son cualquier información que se relacione con una persona física identificada o identificable.</p>
    </li>
    <li>
    <p _msttexthash="865748" _msthash="18"><strong _istranslated="1">El servicio</strong> se refiere al sitio web.</p>
    </li>
    <li>
    <p _msttexthash="74554857" _msthash="19"><strong _istranslated="1">Proveedor de servicios</strong> significa cualquier persona física o jurídica que procese los datos en nombre de la Compañía. Se refiere a empresas o personas de terceros empleadas por la Empresa para facilitar el Servicio, para prestar el Servicio en nombre de la Empresa, para realizar servicios relacionados con el Servicio o para ayudar a la Empresa a analizar cómo se utiliza el Servicio.</p>
    </li>
    <li>
    <p _msttexthash="22329034" _msthash="20"><strong _istranslated="1">Los Datos de uso</strong> se refieren a los datos recopilados automáticamente, ya sea generados por el uso del Servicio o de la propia infraestructura del Servicio (por ejemplo, la duración de una visita a la página).</p>
    </li>
    <li>
    <p _msttexthash="5079776" _msthash="21"><strong _istranslated="1">El sitio web</strong> se refiere a PódiumPro, accesible desde <a href="https://ppi-dai-burbanoaj.onrender.com/" rel="external nofollow noopener" target="_blank" _istranslated="1">https://ppi-dai-burbanoaj.onrender.com/</a></p>
    </li>
    <li>
    <p _msttexthash="16804151" _msthash="22"><strong _istranslated="1">Usted</strong> se refiere a la persona que accede o utiliza el Servicio, o a la empresa u otra entidad legal en nombre de la cual dicha persona accede o utiliza el Servicio, según corresponda.</p>
    </li>
    </ul>
    <h2 _msttexthash="1273870" _msthash="23">Recopilación y uso de sus datos personales</h2>
    <h3 _msttexthash="574080" _msthash="24">Tipos de datos recopilados</h3>
    <h4 _msttexthash="292864" _msthash="25">Datos personales</h4>
    <p _msttexthash="40367951" _msthash="26">Mientras utiliza nuestro servicio, es posible que le pidamos que nos proporcione cierta información de identificación personal que puede utilizarse para ponerse en contacto con usted o identificarle. La información de identificación personal puede incluir, entre otros:</p>
    <ul>
    <li>
    <p _msttexthash="868153" _msthash="27">Dirección de correo electrónico</p>
    </li>
    <li>
    <p _msttexthash="321412" _msthash="28">Nombre</p>
    </li>

    <li>
    <p _msttexthash="160199" _msthash="30">Datos de uso</p>
    </li>
    </ul>
    <h4 _msttexthash="160199" _msthash="31">Datos de uso</h4>
    <p _msttexthash="3514290" _msthash="32">Los Datos de uso se recopilan automáticamente cuando se utiliza el Servicio.</p>
    <p _msttexthash="68771157" _msthash="33">Los Datos de uso pueden incluir información como la dirección de Protocolo de Internet de su dispositivo (por ejemplo, la dirección IP), el tipo de navegador, la versión del navegador, las páginas de nuestro Servicio que visita, la hora y la fecha de su visita, el tiempo que pasa en esas páginas, identificadores únicos del dispositivo y otros datos de diagnóstico.</p>
    <p _msttexthash="97566690" _msthash="34">Cuando accede al Servicio a través de un dispositivo móvil, podemos recopilar cierta información automáticamente, incluidos, entre otros, el tipo de dispositivo móvil que utiliza, la identificación única de su dispositivo móvil, la dirección IP de su dispositivo móvil, su sistema operativo móvil, el tipo de navegador de Internet móvil que utiliza, los identificadores únicos del dispositivo y otros datos de diagnóstico.</p>
    <p _msttexthash="14437371" _msthash="35">También podemos recopilar información que su navegador envía cada vez que visita nuestro Servicio o cuando accede al Servicio a través de un dispositivo móvil.</p>
    <h4 _msttexthash="1032356" _msthash="36">Tecnologías de seguimiento y cookies</h4>
    <p _msttexthash="64136202" _msthash="37">Utilizamos cookies y tecnologías de seguimiento similares para rastrear la actividad en nuestro servicio y almacenar cierta información. Las tecnologías de seguimiento utilizadas son balizas, etiquetas y scripts para recopilar y rastrear información y para mejorar y analizar Nuestro Servicio. Las tecnologías que utilizamos pueden incluir:</p>
    <ul>
    <li _msttexthash="97907966" _msthash="38"><strong _istranslated="1">Cookies o cookies del navegador.</strong> Una cookie es un pequeño archivo que se coloca en su dispositivo. Puede indicarle a su navegador que rechace todas las cookies o que le indique cuándo se envía una cookie. Sin embargo, si no acepta las cookies, es posible que no pueda utilizar algunas partes de nuestro servicio. A menos que haya ajustado la configuración de su navegador para que rechace las cookies, nuestro servicio puede utilizar cookies.</li>
    <li _msttexthash="157066442" _msthash="39"><strong _istranslated="1">Balizas web.</strong> Ciertas secciones de nuestro Servicio y nuestros correos electrónicos pueden contener pequeños archivos electrónicos conocidos como balizas web (también denominados gifs transparentes, etiquetas de píxel y gifs de un solo píxel) que permiten a la Compañía, por ejemplo, contar los usuarios que han visitado esas páginas o han abierto un correo electrónico y para otras estadísticas relacionadas con el sitio web (por ejemplo, registrar la popularidad de una determinada sección y verificar la integridad del sistema y del servidor).</li>
    </ul>
    <p _msttexthash="67055352" _msthash="40">Las cookies pueden ser "persistentes" o "de sesión". Las cookies persistentes permanecen en su computadora personal o dispositivo móvil cuando se desconecta, mientras que las cookies de sesión se eliminan tan pronto como cierra su navegador web. Obtenga más información sobre las cookies en el artículo del <a href="https://www.freeprivacypolicy.com/blog/sample-privacy-policy-template/#Use_Of_Cookies_And_Tracking" target="_blank" _istranslated="1">sitio web de la Política de privacidad gratuita</a>.</p>
    <p _msttexthash="4857476" _msthash="41">Utilizamos cookies de sesión y persistentes para los fines que se indican a continuación:</p>
    <ul>
    <li>
    <p><strong _msttexthash="766974" _msthash="42">Cookies necesarias / esenciales</strong></p>
    <p _msttexthash="490282" _msthash="43">Tipo: Cookies de sesión</p>
    <p _msttexthash="611845" _msthash="44">Administrado por: Nosotros</p>
    <p _msttexthash="78602355" _msthash="45">Finalidad: Estas cookies son esenciales para proporcionarle los servicios disponibles a través del sitio web y para permitirle utilizar algunas de sus funciones. Ayudan a autenticar a los usuarios y a evitar el uso fraudulento de las cuentas de usuario. Sin estas cookies, no se pueden proporcionar los servicios que ha solicitado, y solo usamos estas cookies para brindarle esos servicios.</p>
    </li>
    <li>
    <p><strong _msttexthash="1480024" _msthash="46">Política de Cookies / Aviso Aceptación Cookies</strong></p>
    <p _msttexthash="616551" _msthash="47">Tipo: Cookies persistentes</p>
    <p _msttexthash="611845" _msthash="48">Administrado por: Nosotros</p>
    <p _msttexthash="5498376" _msthash="49">Finalidad: Estas Cookies identifican si los usuarios han aceptado el uso de cookies en el Sitio Web.</p>
    </li>
    <li>
    <p><strong _msttexthash="520039" _msthash="50">Cookies de funcionalidad</strong></p>
    <p _msttexthash="616551" _msthash="51">Tipo: Cookies persistentes</p>
    <p _msttexthash="611845" _msthash="52">Administrado por: Nosotros</p>
    <p _msttexthash="61371687" _msthash="53">Finalidad: Estas cookies nos permiten recordar las elecciones que realiza cuando utiliza el sitio web, como recordar sus datos de inicio de sesión o su preferencia de idioma. El propósito de estas cookies es proporcionarle una experiencia más personal y evitar que tenga que volver a ingresar sus preferencias cada vez que utilice el sitio web.</p>
    </li>
    </ul>
    <p _msttexthash="20815977" _msthash="54">Para obtener más información sobre las cookies que utilizamos y sus opciones con respecto a las cookies, visite nuestra Política de cookies o la sección Cookies de nuestra Política de privacidad.</p>
    <h3 _msttexthash="583336" _msthash="55">Uso de sus datos personales</h3>
    <p _msttexthash="3881670" _msthash="56">La Empresa podrá utilizar los Datos Personales para las siguientes finalidades:</p>
    <ul>
    <li>
    <p _msttexthash="5732142" _msthash="57"><strong _istranslated="1">Para proporcionar y mantener nuestro Servicio</strong>, incluso para monitorear el uso de nuestro Servicio.</p>
    </li>
    <li>
    <p _msttexthash="29331367" _msthash="58"><strong _istranslated="1">Para gestionar su cuenta:</strong> para gestionar su registro como usuario del Servicio. Los Datos Personales que nos facilite pueden darle acceso a diferentes funcionalidades del Servicio que están a su disposición como usuario registrado.</p>
    </li>
    <li>
    <p _msttexthash="27597986" _msthash="59"><strong _istranslated="1">Para la ejecución de un contrato:</strong> el desarrollo, cumplimiento y ejecución del contrato de compra de los productos, artículos o servicios que Usted haya adquirido o de cualquier otro contrato con Nosotros a través del Servicio.</p>
    </li>
    <li>
    <p _msttexthash="115313523" _msthash="60"><strong _istranslated="1">Para ponernos en contacto con usted:</strong> Para ponernos en contacto con Usted por correo electrónico, llamadas telefónicas, SMS u otras formas equivalentes de comunicación electrónica, como las notificaciones push de una aplicación móvil sobre actualizaciones o comunicaciones informativas relacionadas con las funcionalidades, productos o servicios contratados, incluidas las actualizaciones de seguridad, cuando sea necesario o razonable para su implementación.</p>
    </li>
    <li>
    <p _msttexthash="34606780" _msthash="61"><strong _istranslated="1">Para proporcionarle</strong> noticias, ofertas especiales e información general sobre otros bienes, servicios y eventos que ofrecemos que son similares a los que ya ha comprado o sobre los que ha preguntado, a menos que haya optado por no recibir dicha información.</p>
    </li>
    <li>
    <p _msttexthash="3382782" _msthash="62"><strong _istranslated="1">Para gestionar sus solicitudes:</strong> Para atender y gestionar sus solicitudes.</p>
    </li>
    <li>
    <p _msttexthash="116991654" _msthash="63"><strong _istranslated="1">Para transferencias comerciales:</strong> Podemos utilizar su información para evaluar o llevar a cabo una fusión, desinversión, reestructuración, reorganización, disolución u otra venta o transferencia de algunos o todos nuestros activos, ya sea como una empresa en funcionamiento o como parte de un procedimiento de quiebra, liquidación o similar, en el que los datos personales que tenemos sobre los usuarios de nuestro servicio se encuentran entre los activos transferidos.</p>
    </li>
    <li>
    <p _msttexthash="46436754" _msthash="64"><strong _istranslated="1">Para otros fines</strong>: Podemos utilizar su información para otros fines, como el análisis de datos, la identificación de tendencias de uso, la determinación de la eficacia de nuestras campañas promocionales y para evaluar y mejorar nuestro Servicio, productos, servicios, marketing y su experiencia.</p>
    </li>
    </ul>
    <p _msttexthash="3475043" _msthash="65">Podemos compartir su información personal en las siguientes situaciones:</p>
    <ul>
    <li _msttexthash="19057558" _msthash="66"><strong _istranslated="1">Con proveedores de servicios:</strong> Podemos compartir su información personal con proveedores de servicios para monitorear y analizar el uso de nuestro servicio, para comunicarnos con usted.</li>
    <li _msttexthash="43511702" _msthash="67"><strong _istranslated="1">Para transferencias comerciales:</strong> Podemos compartir o transferir su información personal en relación con, o durante las negociaciones de, cualquier fusión, venta de activos de la Compañía, financiamiento o adquisición de la totalidad o una parte de Nuestro negocio a otra compañía.</li>
    <li _msttexthash="62393877" _msthash="68"><strong _istranslated="1">Con afiliados:</strong> Podemos compartir su información con nuestros afiliados, en cuyo caso exigiremos a esos afiliados que cumplan con esta Política de privacidad. Las filiales incluyen nuestra empresa matriz y cualquier otra subsidiaria, socios de empresas conjuntas u otras empresas que controlemos o que estén bajo control común con nosotros.</li>
    <li _msttexthash="12948624" _msthash="69"><strong _istranslated="1">Con socios comerciales:</strong> Podemos compartir su información con nuestros socios comerciales para ofrecerle ciertos productos, servicios o promociones.</li>
    <li _msttexthash="26471666" _msthash="70"><strong _istranslated="1">Con otros usuarios:</strong> cuando comparte información personal o interactúa en las áreas públicas con otros usuarios, dicha información puede ser vista por todos los usuarios y puede distribuirse públicamente al exterior.</li>
    <li _msttexthash="8430396" _msthash="71"><strong _istranslated="1">Con su consentimiento</strong>: Podemos divulgar su información personal para cualquier otro propósito con su consentimiento.</li>
    </ul>
    <h3 _msttexthash="879255" _msthash="72">Retención de sus datos personales</h3>
    <p _msttexthash="99660418" _msthash="73">La Compañía conservará sus datos personales solo durante el tiempo que sea necesario para los fines establecidos en esta Política de privacidad. Conservaremos y utilizaremos sus datos personales en la medida necesaria para cumplir con nuestras obligaciones legales (por ejemplo, si estamos obligados a conservar sus datos para cumplir con las leyes aplicables), resolver disputas y hacer cumplir nuestros acuerdos y políticas legales.</p>
    <p _msttexthash="74495850" _msthash="74">La Empresa también conservará los Datos de Uso con fines de análisis interno. Por lo general, los datos de uso se conservan durante un período de tiempo más corto, excepto cuando estos datos se utilizan para reforzar la seguridad o mejorar la funcionalidad de nuestro servicio, o cuando estamos legalmente obligados a conservar estos datos durante períodos de tiempo más largos.</p>
    <h3 _msttexthash="1061190" _msthash="75">Transferencia de sus datos personales</h3>
    <p _msttexthash="100938448" _msthash="76">Su información, incluidos los Datos Personales, se procesa en las oficinas operativas de la Compañía y en cualquier otro lugar donde se encuentren las partes involucradas en el procesamiento. Esto significa que esta información puede transferirse y mantenerse en computadoras ubicadas fuera de su estado, provincia, país u otra jurisdicción gubernamental donde las leyes de protección de datos pueden diferir de las de su jurisdicción.</p>
    <p _msttexthash="10842260" _msthash="77">Su consentimiento a esta Política de Privacidad, seguido de Su envío de dicha información, representa Su aceptación de esa transferencia.</p>
    <p _msttexthash="68512587" _msthash="78">La Compañía tomará todas las medidas razonablemente necesarias para garantizar que sus datos se traten de forma segura y de acuerdo con esta Política de privacidad y no se realizará ninguna transferencia de sus datos personales a una organización o un país a menos que existan controles adecuados, incluida la seguridad de sus datos y otra información personal.</p>
    <h3 _msttexthash="713323" _msthash="79">Eliminar sus datos personales</h3>
    <p _msttexthash="7793474" _msthash="80">Tiene derecho a eliminar o solicitar que le ayudemos a eliminar los Datos personales que hemos recopilado sobre usted.</p>
    <p _msttexthash="6514209" _msthash="81">Nuestro Servicio puede darle la posibilidad de eliminar cierta información sobre Usted desde el Servicio.</p>
    <p _msttexthash="75415847" _msthash="82">Puede actualizar, modificar o eliminar su información en cualquier momento iniciando sesión en su cuenta, si tiene una, y visitando la sección de configuración de la cuenta que le permite administrar su información personal. También puede ponerse en contacto con nosotros para solicitar acceso, corregir o eliminar cualquier información personal que nos haya proporcionado.</p>
    <p _msttexthash="13573235" _msthash="83">Sin embargo, tenga en cuenta que es posible que necesitemos conservar cierta información cuando tengamos una obligación legal o una base legal para hacerlo.</p>
    <h3 _msttexthash="983814" _msthash="84">Divulgación de sus datos personales</h3>
    <h4 _msttexthash="608322" _msthash="85">Transacciones comerciales</h4>
    <p _msttexthash="32894641" _msthash="86">Si la Compañía está involucrada en una fusión, adquisición o venta de activos, sus datos personales pueden ser transferidos. Le notificaremos antes de que sus datos personales se transfieran y estén sujetos a una política de privacidad diferente.</p>
    <h4 _msttexthash="371423" _msthash="87">Aplicación de la ley</h4>
    <p _msttexthash="31060731" _msthash="88">En determinadas circunstancias, es posible que se exija a la Empresa que revele sus datos personales si así lo exige la ley o en respuesta a solicitudes válidas de las autoridades públicas (por ejemplo, un tribunal o una agencia gubernamental).</p>
    <h4 _msttexthash="540995" _msthash="89">Otros requisitos legales</h4>
    <p _msttexthash="6983626" _msthash="90">La Compañía puede divulgar sus datos personales en la creencia de buena fe de que dicha acción es necesaria para:</p>
    <ul>
    <li _msttexthash="831584" _msthash="91">Cumplir con una obligación legal</li>
    <li _msttexthash="2220608" _msthash="92">Proteger y defender los derechos o la propiedad de la Empresa</li>
    <li _msttexthash="3590886" _msthash="93">Prevenir o investigar posibles irregularidades en relación con el Servicio</li>
    <li _msttexthash="3317028" _msthash="94">Proteger la seguridad personal de los Usuarios del Servicio o del público</li>
    <li _msttexthash="1281683" _msthash="95">Protéjase contra la responsabilidad legal</li>
    </ul>
    <h3 _msttexthash="852046" _msthash="96">Seguridad de sus datos personales</h3>
    <p _msttexthash="61425416" _msthash="97">La seguridad de sus datos personales es importante para nosotros, pero recuerde que ningún método de transmisión a través de Internet o método de almacenamiento electrónico es 100% seguro. Si bien nos esforzamos por utilizar medios comercialmente aceptables para proteger sus datos personales, no podemos garantizar su seguridad absoluta.</p>
    <h2 _msttexthash="497393" _msthash="98">Privacidad de los niños</h2>
    <p _msttexthash="132589275" _msthash="99">Nuestro Servicio no se dirige a ninguna persona menor de 13 años. No recopilamos a sabiendas información de identificación personal de ninguna persona menor de 13 años. Si usted es padre o tutor y sabe que su hijo nos ha proporcionado datos personales, póngase en contacto con nosotros. Si nos damos cuenta de que hemos recopilado datos personales de cualquier persona menor de 13 años sin la verificación del consentimiento de los padres, tomamos medidas para eliminar esa información de nuestros servidores.</p>
    <p _msttexthash="31075681" _msthash="100">Si necesitamos basarnos en el consentimiento como base legal para procesar su información y su país requiere el consentimiento de uno de los padres, podemos requerir el consentimiento de sus padres antes de recopilar y usar esa información.</p>
    <h2 _msttexthash="541801" _msthash="101">Enlaces a otros sitios web</h2>
    <p _msttexthash="35979372" _msthash="102">Nuestro Servicio puede contener enlaces a otros sitios web que no son operados por Nosotros. Si hace clic en un enlace de terceros, se le dirigirá al sitio de ese tercero. Le recomendamos encarecidamente que revise la Política de privacidad de cada sitio que visite.</p>
    <p _msttexthash="13485537" _msthash="103">No tenemos control ni asumimos ninguna responsabilidad por el contenido, las políticas de privacidad o las prácticas de los sitios o servicios de terceros.</p>
    <h2 _msttexthash="995228" _msthash="104">Cambios a esta Política de Privacidad</h2>
    <p _msttexthash="19032130" _msthash="105">Es posible que actualicemos nuestra Política de privacidad de vez en cuando. Le notificaremos cualquier cambio mediante la publicación de la nueva Política de privacidad en esta página.</p>
    <p _msttexthash="27686555" _msthash="106">Le informaremos por correo electrónico y/o un aviso destacado en Nuestro Servicio, antes de que el cambio entre en vigencia y actualizaremos la fecha de "Última actualización" en la parte superior de esta Política de privacidad.</p>
    <p _msttexthash="17765644" _msthash="107">Se recomienda revisar esta Política de privacidad periódicamente para ver si hay cambios. Los cambios a esta Política de Privacidad son efectivos cuando se publican en esta página.</p>
    <h2 _msttexthash="201149" _msthash="108">Contáctenos</h2>
    <p _msttexthash="5757258" _msthash="109">Si tiene alguna pregunta sobre esta Política de Privacidad, puede ponerse en contacto con nosotros:</p>
    <ul>
    <li>
    <p _msttexthash="1532947" _msthash="110">Por correo electrónico: aburbanot@unal.edu.co</p>
    </li>
    <li>
    <p _msttexthash="6786520" _msthash="111">Visitando esta página de linkedIn: <a href="http://www.linkedin.com/in/albeiro-jose-burbano-tobar-759ba4297" rel="external nofollow noopener" target="_blank" _istranslated="1">http://www.linkedin.com/in/albeiro-jose-burbano-tobar-759ba4297</a></p>
    </ul>
    <form method="POST">
        <input type="checkbox" name="agree" required> He leído la Política de tratamientos de datos personales y de privacidad..<br>
        <button type="submit" name="accept">Aceptar</button>
        <button type="submit" name="decline">Declinar</button>
    </form>
</div>
{% endblock %}
